<h1>People</h1>

<%= pf_flash %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= Person.human_attribute_name(:name) %></th>
      <th><%= Person.human_attribute_name(:born_on) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.full_name, edit_person_path(person) %></td>
        <td><%= person.born_on %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
