<h1>People</h1>

<%= pf_flash %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Born on</th>
      <th>Died on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, edit_person_path(person) %></td>
        <td><%= person.surname %></td>
        <td><%= person.born_on %></td>
        <td><%= person.died_on %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
