
<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :plot_summary %>
    <%= f.input :gross_takings %>
    <%= f.input :available_on_dvd %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
