<h1>Movies</h1>

<%= pf_flash %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Plot summary</th>
      <th>Gross takings</th>
      <th>Available on dvd</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, edit_movie_path(movie) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.plot_summary %></td>
        <td><%= number_to_currency movie.gross_takings %></td>
        <td><%= movie.available_on_dvd %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
